.nav,
.nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: #fff;
    background-color: #009c53;
}

.nav .nav-link.active {
    color: #fff;
    background-color: #009c53;
}

.navbar-nav .nav-link {
    color: #fff;
}

.main-title {
    font-size: calc(1.375rem + 1.5vw);
}

/* .main-title {
    font-size: 2.5rem;
} */
/* .navbar-toggler {
    color: #fff;
} */
/* .nav-item a {
    color: #fff !important; 
} */

.catheader {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.front_page_carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler {
    border-color: white;
    color: #00703C;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-toggler-icon:active {
    border: white;
}

/* input {
	border-color: #ccc;
}
input:valid {
	border-color: #ccc;
}
input:invalid {
	border-color: red;
} */


/* .l-content-area { flex-grow: 1; width: 100%; }
.l-content-area.is-checkout { max-width: 992px; margin: 0 auto; } */